## Find and Load Data to SQL :  US and Global Energy Generation and Consumption

In [1]:
## Dedependiecies 

# Web scrape
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import psycopg2

# SQL
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from flask_sqlalchemy import SQLAlchemy

# General
import pandas as pd
import numpy as np

## Web scraping

In [2]:
# Open browser with splinter 
# (Headless = True) Thus we do not see the browser oepning and closing
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# HTML Object and Beautiful Soup Parseing
url = 'https://www.nei.org/resources/statistics/state-electricity-generation-fuel-shares'
browser.visit(url)

In [4]:
# HTML Object and Beautiful Soup Parseing
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
# Retrieve and collect all desired data
webTable = soup.find_all('tr')

# When in doube print() it out
# All desired data is in one line, thus have to split
us_percent_list = []
temp_list = []
list_element = ""
tableData = []

for result in webTable:
    tableData = result.find_all('td')
    temp_list = []
    for data in tableData:
        list_element = data.get_text()
        temp_list.append(list_element)
    if not temp_list:
        pass
    else:
        us_percent_list.append(temp_list)

print(us_percent_list)

[['Alabama', '31.4', '19.2', '38.7', '0.0', '7.8', '0.0', '0.3', '0.0', '2.5'], ['Alaska', '0.0', '10.6', '49.9', '14.4', '22.0', '0.0', '0.0', '2.4', '0.6'], ['Arizona', '28.1', '20.4', '40.9', '0.1', '5.4', '0.0', '4.5', '0.5', '0.2'], ['Arkansas', '22.0', '37.9', '33.0', '0.1', '4.5', '0.0', '0.3', '0.0', '2.2'], ['California', '7.9', '0.1', '42.4', '0.0', '19.5', '5.6', '14.0', '7.3', '3.2'], ['Colorado', '0.0', '45.1', '30.4', '0.0', '2.5', '0.0', '2.1', '19.4', '0.4'], ['Connecticut', '41.7', '0.1', '52.8', '0.2', '1.3', '0.0', '0.4', '0.0', '3.3'], ['Delaware', '0.0', '2.3', '94.7', '0.8', '0.0', '0.0', '1.0', '0.1', '1.0'], ['District of Columbia', '0.0', '0.0', '27.1', '0.0', '0.0', '0.0', '15.1', '0.0', '57.8'], ['Florida', '11.8', '9.1', '74.3', '0.1', '0.1', '0.0', '1.6', '0.0', '3.1'], ['Georgia', '26.3', '19.9', '45.7', '0.1', '2.3', '0.0', '1.6', '0.0', '4.1'], ['Hawaii', '0.0', '13.2', '0.1', '69.3', '0.7', '1.1', '2.7', '6.0', '6.9'], ['Idaho', '0.0', '0.1', '21.1', '0.0', '55.4', '0.4', '3.3', '16.2', '3.4'], ['Illinois', '54.4', '26.9', '10.6', '0.0', '0.1', '0.0', '0.0', '7.6', '0.4'], ['Indiana', '0.0', '56.7', '35.9', '0.1', '0.2', '0.0', '0.3', '6.0', '0.7'], ['Iowa1', '8.3', '35.2', '12.9', '0.1', '1.2', '0.0', '0.0', '42.0', '0.3'], ['Kansas', '17.8', '33.4', '7.0', '0.1', '0.0', '0.0', '0.0', '41.4', '0.1'], ['Kentucky', '0.0', '72.7', '20.8', '0.1', '5.6', '0.0', '0.1', '0.0', '0.7'], ['Louisiana', '13.8', '10.4', '72.0', '0.0', '1.1', '0.0', '0.0', '0.0', '2.6'], ['Maine', '0.0', '0.8', '15.9', '0.3', '30.8', '0.0', '0.1', '23.8', '28.3'], ['Maryland', '37.8', '14.4', '37.4', '0.2', '5.6', '0.0', '1.3', '1.5', '1.8'], ['Massachusetts', '9.8', '0.0', '71.6', '0.6', '2.9', '0.0', '5.3', '1.0', '8.8'], ['Michigan', '28.2', '32.7', '31.1', '0.1', '0.5', '0.0', '0.1', '5.0', '2.2'], ['Minnesota', '24.4', '31.5', '17.9', '0.1', '1.5', '0.1', '2.6', '19.1', '2.9'], ['Mississippi', '16.5', '6.6', '74.3', '0.0', '0.0', '0.0', '0.5', '0.0', '2.1'], ['Missouri', '12.0', '72.8', '9.6', '0.1', '1.4', '0.0', '0.1', '3.8', '0.1'], ['Montana', '0.0', '53.9', '2.0', '0.1', '34.7', '0.6', '0.1', '8.6', '0.1'], ['Nebraska', '18.7', '54.7', '3.3', '0.1', '3.1', '0.0', '0.1', '19.9', '0.2'], ['Nevada', '0.0', '6.9', '64.8', '0.0', '5.6', '9.5', '12.2', '0.8', '0.2'], ['New Hampshire', '60.8', '1.9', '20.0', '0.2', '6.9', '0.0', '0.0', '2.3', '8.1'], ['New Jersey', '37.4', '1.6', '57.3', '0.1', '(0.1)', '0.0', '1.7', '0.0', '2.0'], ['New Mexico', '0.0', '41.8', '34.1', '0.1', '0.4', '0.2', '3.9', '19.5', '0.0'], ['New York', '33.9', '0.3', '37.3', '0.4', '22.1', '0.0', '0.5', '3.3', '2.2'], ['North Carolina', '31.8', '23.3', '31.7', '0.2', '4.7', '0.0', '5.5', '0.4', '2.3'], ['North Dakota', '0.0', '61.9', '3.2', '0.1', '6.9', '0.3', '0.0', '27.5', '0.1'], ['Ohio', '14.2', '39.8', '43.2', '0.1', '0.2', '0.0', '0.1', '1.7', '0.6'], ['Oklahoma', '0.0', '9.4', '53.5', '0.0', '2.1', '0.0', '0.1', '34.6', '0.4'], ['Oregon', '0.0', '4.1', '33.9', '0.0', '47.4', '0.2', '1.1', '11.5', '1.8'], ['Pennsylvania', '36.0', '16.8', '42.8', '0.1', '1.5', '0.0', '0.0', '1.5', '1.3'], ['Rhode Island', '0.0', '0.0', '93.2', '0.2', '0.0', '0.0', '0.9', '2.9', '2.7'], ['South Carolina', '55.8', '14.8', '24.1', '0.1', '1.9', '0.0', '0.8', '0.0', '2.4'], ['South Dakota', '0.0', '20.7', '10.7', '0.1', '44.6', '0.0', '0.0', '23.9', '0.0'], ['Tennessee', '43.7', '22.9', '20.3', '0.2', '11.3', '0.0', '0.4', '0.0', '1.1'], ['Texas', '8.6', '19.1', '53.4', '0.0', '0.2', '0.0', '0.9', '17.5', '0.4'], ['Utah', '0.0', '64.4', '24.1', '0.1', '2.0', '1.1', '5.5', '2.1', '0.7'], ['Vermont', '0.0', '0.0', '0.1', '0.1', '54.9', '0.0', '8.0', '17.6', '19.4'], ['Virginia', '30.3', '3.6', '60.1', '0.3', '0.5', '0.0', '0.9', '0.0', '4.5'], ['Washington', '8.4', '6.8', '13.3', '0.0', '62.6', '0.0', '0.0', '7.3', '1.6'], ['West Virginia', '0.0', '91.0', '3.4', '0.2', '2.8', '0.0', '0.0', '2.7', '(0.0)'], ['Wisconsin', '16.0', '42.1', '33.7', '0.1', '3.2', '0.0', '0.1', '2.6', '2.2'], ['Wyoming', '0.0', '84.3', '3.2', '0.1', '2.0', '0.0', '0.4', '9.8', '0.2']]

In [6]:
# Convert data into df and clean
#US_percentage_df = pd.DataFrame(us_percent_list, columns = tableHeaders)
US_percentage_df = pd.DataFrame(us_percent_list, columns = ["State", "Nuclear", "Coal", "Natural Gas", 
                                                            "Petroleum", "Hydro", "Geothermal", 
                                                            "Solar - PV", "Wind", "Biomass and Other"])


print(f'The length of this df is: {len(US_percentage_df)}')
US_percentage_df.head()

#### ValueError: 10 columns passed, passed data had 510 columns  ####

The length of this df is: 51

,State,Nuclear,Coal,Natural Gas,Petroleum,Hydro,Geothermal,Solar - PV,Wind,Biomass and Other
0,Alabama,31.4,19.2,38.7,0.0,7.8,0.0,0.3,0.0,2.5
1,Alaska,0.0,10.6,49.9,14.4,22.0,0.0,0.0,2.4,0.6
2,Arizona,28.1,20.4,40.9,0.1,5.4,0.0,4.5,0.5,0.2
3,Arkansas,22.0,37.9,33.0,0.1,4.5,0.0,0.3,0.0,2.2
4,California,7.9,0.1,42.4,0.0,19.5,5.6,14.0,7.3,3.2

In [7]:
# Finished scraping from the web, quit browser in background
browser.quit()

## CSV: Load  and Clean

### CSV Source 1

In [8]:
# read from local file
raw_csv_1 = "./Resources/US/annual_generation_state.csv"
CSV_df_1 = pd.read_csv(raw_csv_1, skiprows=4, sep = ',', encoding='ISO-8859-1')
print(f'Length of CSV1 is: {len(CSV_df_1)}')
# Display head of data set to be sure it was loaded correctly
CSV_df_1.head()

Length of CSV1 is: 53756

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours),Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,1990,AK,Total Electric Power Industry,Total,"5,599,506",NaN,NaN,NaN,NaN,NaN,NaN
1,1990,AK,Total Electric Power Industry,Coal,"510,573",NaN,NaN,NaN,NaN,NaN,NaN
2,1990,AK,Total Electric Power Industry,Hydroelectric Conventional,"974,521",NaN,NaN,NaN,NaN,NaN,NaN
3,1990,AK,Total Electric Power Industry,Natural Gas,"3,466,261",NaN,NaN,NaN,NaN,NaN,NaN
4,1990,AK,Total Electric Power Industry,Petroleum,"497,116",NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
annual_US_generation_df = CSV_df_1[['YEAR','STATE','TYPE OF PRODUCER','ENERGY SOURCE','GENERATION (Megawatthours)']].copy()
annual_US_generation_df.columns =  ['YEAR','STATE','TYPE OF PRODUCER','ENERGY SOURCE','GENERATION Mwh']
#state_group = annual_US_generation_df.groupby(['YEAR', 'STATE'])
#state_group.head(20)
#state_group

annual_US_generation_df.head(10)

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION Mwh
0,1990,AK,Total Electric Power Industry,Total,"5,599,506"
1,1990,AK,Total Electric Power Industry,Coal,"510,573"
2,1990,AK,Total Electric Power Industry,Hydroelectric Conventional,"974,521"
3,1990,AK,Total Electric Power Industry,Natural Gas,"3,466,261"
4,1990,AK,Total Electric Power Industry,Petroleum,"497,116"
5,1990,AK,Total Electric Power Industry,Wind,0
6,1990,AK,Total Electric Power Industry,Wood and Wood Derived Fuels,"151,035"
7,1990,AK,"Electric Generators, Electric Utilities",Total,"4,493,024"
8,1990,AK,"Electric Generators, Electric Utilities",Coal,"311,960"
9,1990,AK,"Electric Generators, Electric Utilities",Hydroelectric Conventional,"974,521"

### CSV Source 2

In [ ]:
# read from local file
raw_csv_2 = "./Resources/name2.csv"
CSV_df_2 = pd.read_csv(raw_csv_1, sep = ',', encoding='ISO-8859-1')

# Display head of data set to be sure it was loaded correctly
CSV_df_2.head()

### CSV Source 3

In [ ]:
## Source 3
# read from local file
raw_csv_3 = "./Resources/name3.csv"
CSV_df_3 = pd.read_csv(raw_csv_1, sep = ',', encoding='ISO-8859-1')

# Display head of data set to be sure it was loaded correctly
CSV_df_3.head()

## Add CSV and json to SQL, SQLite

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Table,Column,Integer,String
import glob
import os
from sqlalchemy import MetaData
from sqlalchemy.orm import mapper

In [2]:
import csv, sqlite3

In [3]:
connection = sqlite3.connect("sqlite:///Energy_project.db") # change to 'sqlite:///your_filename.db' #:memory:
cursor = connection.cursor()

OperationalError: unable to open database file

In [18]:
# use your column names here
cursor.execute("CREATE TABLE t (State, Nuclear, Coal, Natural Gas, Petroleum, Hydro, Geothermal, Solar PV, Wind, Biomass Other") 

with open('./Resources/US/us_percentage.csv','r') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i["State"], i["Nuclear"], i["Coal"], i["Natural Gas"], i["Petroleum"], i["Hydro"], i["Geothermal"], i["Solar - PV"], i["Wind"], i["Biomass and Other"]) for i in dr]

cur.executemany("INSERT INTO t (State, Nuclear, Coal, Natural Gas, Petroleum, Hydro, Geothermal, Solar - PV, Wind, Biomass and Other) ) VALUES (?, ?);", to_db)
con.commit()
con.close()

OperationalError: incomplete input

## Add CSV and json to SQL, Postgress

In [10]:
# Connect to local database
code_source_passcode = open('/Users/Richa/Desktop/Files/SQL_private_connect.py') 
# Add you password here
#code_source_passcode = open('/Users/......./SQL_private_connect.py') 

sql_private_connect = code_source_passcode.read()

In [11]:
engine = create_engine(f'postgresql://{sql_private_connect}@localhost:5432/Energy_DB')
connection = engine.connect()

In [12]:
# Check for tables
engine.table_names()

['us_percentage', 'us_generation_power']

In [13]:
# Use pandas to load web scraped converted DataFrame into database
US_percentage_df.to_sql(name='us_percentage', 
                      con=engine, 
                      if_exists='replace', 
                      index=False)

In [14]:
# Use pandas to load csv converted DataFrame into database
annual_US_generation_df.to_sql(name='us_generation_power', 
                               con=engine, 
                               if_exists='replace', 
                               index=False)

In [ ]:
# # Use pandas to load csv converted DataFrame into database
# CSV_df_2.to_sql(name='name2', 
#                con=engine, 
#                if_exists='replace', 
#                index=False)

In [15]:
# Check for tables
engine.table_names()

['us_percentage', 'us_generation_power']

### Check tables and data before making charts

In [16]:
# Confirm data has been added by querying the insider table
SQL_Web_scrapped_loaded = pd.read_sql_query('select * from us_percentage', con=engine)
SQL_Web_scrapped_loaded.head()

,State,Nuclear,Coal,Natural Gas,Petroleum,Hydro,Geothermal,Solar - PV,Wind,Biomass and Other
0,Alabama,31.4,19.2,38.7,0.0,7.8,0.0,0.3,0.0,2.5
1,Alaska,0.0,10.6,49.9,14.4,22.0,0.0,0.0,2.4,0.6
2,Arizona,28.1,20.4,40.9,0.1,5.4,0.0,4.5,0.5,0.2
3,Arkansas,22.0,37.9,33.0,0.1,4.5,0.0,0.3,0.0,2.2
4,California,7.9,0.1,42.4,0.0,19.5,5.6,14.0,7.3,3.2

In [17]:
# Confirm data has been added by querying the insider table
SQL_CSV1_loaded = pd.read_sql_query('select * from us_generation_power', con=engine)
SQL_CSV1_loaded.head()

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION Mwh
0,1990,AK,Total Electric Power Industry,Total,"5,599,506"
1,1990,AK,Total Electric Power Industry,Coal,"510,573"
2,1990,AK,Total Electric Power Industry,Hydroelectric Conventional,"974,521"
3,1990,AK,Total Electric Power Industry,Natural Gas,"3,466,261"
4,1990,AK,Total Electric Power Industry,Petroleum,"497,116"

In [ ]:
# # Confirm data has been added by querying the insider table
# SQL_CSV1_loaded = pd.read_sql_query('select * from name1', con=engine)
# SQL_CSV1_loaded.head()